body{
  padding-top: 60px;
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3', Meiryo,'メイリオ','ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
}
.jumbotron{
  background-color: #262626;
  color: #FFFFFF;
}
.text-center{
  text-align: center;
}